<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>172CCA15-AD78-4742-AF1A-7A258D05CCA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABD67D9C-BF42-4784-9AAF-A12D2E2E19E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCF5B3A4-8511-4D0E-9DD2-C8291AA434AB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Remove this item</string>
			</dict>
		</array>
		<key>36FE9E23-E957-44C9-9461-2EE34D14CBE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC8A6305-75AA-48A1-AF51-C3EC51BAAE62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68BD0593-9064-4F8E-A2F5-107E74C56682</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>172CCA15-AD78-4742-AF1A-7A258D05CCA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7ACB2359-6F83-479A-815C-6D74C152EF73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36FE9E23-E957-44C9-9461-2EE34D14CBE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CC8A6305-75AA-48A1-AF51-C3EC51BAAE62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BDEEE6-A382-4979-83F0-3BC5939D8EAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CCF5B3A4-8511-4D0E-9DD2-C8291AA434AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BDEEE6-A382-4979-83F0-3BC5939D8EAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jamie Patel</string>
	<key>description</key>
	<string>Bookmark Manager On Crack</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pycrastinator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>confirm</string>
				<key>script</key>
				<string>python script.py confirm "{query}"</string>
				<key>title</key>
				<string>Confirm Selection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>36FE9E23-E957-44C9-9461-2EE34D14CBE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>python script.py add "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC8A6305-75AA-48A1-AF51-C3EC51BAAE62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7ACB2359-6F83-479A-815C-6D74C152EF73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "links"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>C1BDEEE6-A382-4979-83F0-3BC5939D8EAB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ABD67D9C-BF42-4784-9AAF-A12D2E2E19E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>68BD0593-9064-4F8E-A2F5-107E74C56682</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>links</string>
				<key>script</key>
				<string>python script.py main</string>
				<key>title</key>
				<string>Show Links</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>172CCA15-AD78-4742-AF1A-7A258D05CCA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python script.py remove "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCF5B3A4-8511-4D0E-9DD2-C8291AA434AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>172CCA15-AD78-4742-AF1A-7A258D05CCA2</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>36FE9E23-E957-44C9-9461-2EE34D14CBE4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>68BD0593-9064-4F8E-A2F5-107E74C56682</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7ACB2359-6F83-479A-815C-6D74C152EF73</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>ABD67D9C-BF42-4784-9AAF-A12D2E2E19E6</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>C1BDEEE6-A382-4979-83F0-3BC5939D8EAB</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>CC8A6305-75AA-48A1-AF51-C3EC51BAAE62</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CCF5B3A4-8511-4D0E-9DD2-C8291AA434AB</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
